{% extends "portfolio/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if form.errors %}
    <br />
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <br />
    <br />
    <form method="post" action="{% url 'login' %}">
        {{ form|crispy }}
        {% csrf_token %}


        <input type="submit" value="login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
         <a href ="{% url 'password_reset' %}">Forgot Password</a>
    </form>
{% endblock %}